@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    color: #FDFDFD;
    margin: 0;
    background-color:#0C1014;
    font-family: 'Rosario', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #0C1014;
    padding-top: 2vh;
    padding-bottom: 2vh;
    }
a{
    text-decoration: none;
    color: #FDFDFD;
}
ul{
    display:flex;
    list-style: none;
    gap: 20px;
    font-size: 2.3vh;
    padding-right: 2vh;
    font-family: 'Rosario', sans-serif;
}
.logo{
    padding-top: 1vh;
    width: 70px;
}
.logo img{
    max-width: 100%;
    height: auto;
}
.nav{
    display: flex;
    justify-content: flex-end;
    
}
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0,0,0,0.5)), url(../resources/Hero_Image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh;
    object-fit: cover;
}
.title{
    font-family: 'Splash', cursive;
    font-size: 8vh;
    margin-bottom: 0;
    line-height: 1;
    font-weight: lighter;
}
.subtitle{
    font-family: 'Shalimar', cursive;
    font-size: 4vh;
    line-height: 1;
    font-weight: lighter;
}
.title,.subtitle{
    text-align: center;
}
.subtitle{
    margin-top: 45vh;
}
.title{
    padding-top: 25vh;
}
#aboutme{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    background-color: #0C1014;
    position: relative;
    z-index: 2;
    padding: 0 1vh 2vh 1vh;
}
.name{
    font-family: 'Roboto Mono', monospace;
    font-size: 3vh;
    text-align:left;
    padding-top: 10vh;
    margin: 0;
}
.aboutme-img {
    align-self:auto;
    width:20vh;
    padding-left: 4vh;
}
.aboutme-cta img{
    width: 12vh;
    object-fit: cover;
}
#aboutme{
    grid-column: 1/1;
}
.description{
    font-size: 2.4vh;
    grid-column: 1/3;
}
#jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    margin-top: 10vh;
    margin-bottom: 2vh;
}
.card img{
    width: 45vh;
    max-width: 440px;
    height: 30vh;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 2vh;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card::after {
  content: "";
  border-radius: 30px;
  height: 30vh;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.800),
    rgba(0, 0, 0, 0.400)
  );
  pointer-events: none;
}
.card-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vh;
  font-weight: 500;
  pointer-events: none;
}
.parallax {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 5vh 0;
}
.parallax-bg {
  position: absolute;
  top: -20;
  left: 0;
  width: 100%;
  height: 150%;
  background-image: url(../resources/fondotrabajos.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
  will-change: transform;
}
.parallax-content {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.parallax-bg::after {
  content:"";
  position: absolute;
  inset:0;
  background: rgba(0,0,0,.25);
}
.title-contact{
    font-family: 'Roboto Mono', monospace;
    font-size: 3vh;
    padding-left: 1vh;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vh;
    padding: 0 3vh 0 3vh;
    margin-bottom: 1vh;
}
form label{
    font-family: 'Roboto Mono', monospace;
    font-size: 2vh;
}
form input, form textarea{
    font-size: 2vh;
    padding: 1vh;
    border: solid #25292E 2px;
    background-color: #0C1014;
    color: #ffffff;
}
form textarea{
    resize: vertical;
    min-height: 10vh;
}
form button{
    font-family: 'Rosario', sans-serif;
    font-size: 2vh;
    padding: 1vh;
    border: none;
    border-radius: 50px;
    background-color: #25292E;
    color: #ffffff;
    width: 10vh;
}
.subtitle-contact{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.3vh;
    padding-left: 1vh;
    margin: 0
}
.maps{
    display: flex;
    justify-content: center;
    border: solid #25292E 2px;
    margin: 20px
}
iframe{
    border: solid #25292E 10px;
    width: 100%;
    margin: 1vh;
    height: auto;
    text-align: center;
}
.logo-kim{
    width: 10vh;
    height: auto;
    border-radius: 60px;
}
.direction-container{
    display: flex;
    gap: 4vh;
}
.direction{
    font-family: 'Roboto Mono', monospace;
    font-size: 2vh;
    margin-left: 2vh;
}
footer{
    text-align: center;
    padding: 2vh 0 2vh 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8vh;
    background-color: #25292E;
}